# NYU Programming for DataScience - Exercise 02

#Getting the libraries

In [2]:
%config IPCompleter.greedy=True

In [3]:
import pandas as pd
import numpy as np

# 1 - Imports the data into a data structure of your choice

In [4]:
data = pd.read_csv('houseelf_earlength_dna_data.csv')

In [5]:
data

    id  earlength                                             dnaseq
0  17A        5.1  CCGCATCTTGACTTAACTGACATATTACCATAGATGACTAGCCATG...
1  24P        7.5  GCTATGACTTGCTTAGCTACGTATGAAGGAAGAAACTTTTGTGTAT...
2  09Q       12.2  CCGCCGATTGATACAGGGGACGGTGACGTCGTCATAGATTCGGCAC...
3  65Y        9.9  GCAGGAGAAGTTCTTAACCTTCTCGTAGGACGTCAACCTATTCTTT...
4  19N       10.0  TCTTCATCCTTATCAAAGTTTGGAGTCAATGATCAGGATTATTGCC...
5  92K       14.6  ACCGATGGACAATGATTCGGGTAGCACCAGGAGTCCGTAGCGCGTG...
6  33W        8.2  CAGCTTGACTCGGTCTGTTAGGCCACGATTACGTGAGTTAGGGCTC...
7  98C       17.8  CTGCATGCTAGGTTGACACGCCTGCACTGCTCGAAGAAAATATGCG...
8  75G        9.4  CTTATTTAGATAACATGATTAGCCGAAGTTGTACGGGATATCCACC...
9  88Q       11.3  GATTGCTCGCACATGAGCAAAACGGTAGAGCGTCACTTTCAGCCCT...

#Creating the DataFrame

# 2 - Loops over the rows in the dataset

In [ ]:
# 3 - For each row in the dataset checks to see if the ear length is large (>10 cm) or small (<=10 cm) and 
#determines the GC-content of the DNA sequence (i.e., the percentage of bases that are either G or C)

In [33]:
df = pd.DataFrame(data)

In [37]:
df['Size'] = np.where(df['earlength']>10, True, False)

In [44]:
g = df['dnaseq'].str.count("G")
c = df['dnaseq'].str.count("C")
total = df['dnaseq'].str.len()
gc_total = g + c
gc_content = gc_total/total
gc_content
df['GC_Content'] = gc_content

#Creating the new DataFrame with columns: ID, Size, GC content and Averages

In [ ]:
# 4 - Stores this information in a table where the first column has the ID for the individual, 
#the second column contains the string ‘large’ or the string ‘small’ depending on the size of the individuals ears, 
#and the third column contains the GC content of the DNA sequence.

In [47]:
new_df = pd.DataFrame(columns = ['ID','Size', 'GC_Content']) 
new_df['ID'] = df['id']
new_df['Size'] = df['Size'].map(
                   {True:'Large' ,False:"Small"})
new_df['GC_Content'] = df['GC_Content']*100
new_df

    ID   Size  GC_Content
0  17A  Small        41.0
1  24P  Small        39.0
2  09Q  Large        57.0
3  65Y  Small        40.0
4  19N  Small        36.0
5  92K  Large        62.0
6  33W  Small        52.0
7  98C  Large        63.0
8  75G  Small        47.0
9  88Q  Large        52.0

# 5 - Prints the average GC-content for both large-eared elves and small-eared elves to the screen.

In [63]:
large_df = new_df.loc[new_df['Size'] == 'Large']
average_l = large_df['GC_Content'].mean()
average_l

58.5

In [64]:
small_df = new_df.loc[new_df['Size'] == 'Small']
average_s = small_df['GC_Content'].mean()
average_s

42.5

In [67]:
new_df['AverageGC_Large'] = pd.Series(average_l, index=new_df.index[[0]])
new_df['AverageGC_Large'] = new_df['AverageGC_Large'].fillna('')
new_df['AverageGC_Small'] = pd.Series(average_s, index=new_df.index[[0]])
new_df['AverageGC_Small'] = new_df['AverageGC_Small'].fillna('')
new_df

    ID   Size  GC_Content AverageGC_Large AverageGC_Small
0  17A  Small        41.0            58.5            42.5
1  24P  Small        39.0
2  09Q  Large        57.0
3  65Y  Small        40.0
4  19N  Small        36.0
5  92K  Large        62.0
6  33W  Small        52.0
7  98C  Large        63.0
8  75G  Small        47.0
9  88Q  Large        52.0

#Exporting to csv

# 6 - Exports the table of individual level GC values to a CSV (comma delimited text) file titled grangers_analysis.csv.

In [69]:
new_df.to_csv("grangers_analysis.csv")

# End